header h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40pt;
}

nav{
    background-color: darkgreen;
}
nav ul{
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;

}
nav li a{
    float: left;
    display: block;
    width: 80px;
}

a:link{
    color: whitesmoke;
}
a:visited{
    color: indianred;
}
a:hover{
    font-weight: bold;
}
a:active{
    text-decoration: none;
}
footer {
    text-align: center;
    line-height: 200%;
}

.warningText{
    font-weight: bold;
    font-size: 200%;
    color: red;
}


.pageBG{
    background-color:firebrick;
    border: 2px solid #222;
    padding-top:20px;
    padding-bottom:20px;
}