header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
}

ul{
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a{
    float: left;
    display: block;
    width: 80px;
}
a:visited{
    color: darkgreen;
}
a:hover{
    font-weight: bold;
}
a:active{
    text-decoration: none;
}


footer {
    text-align: center;
    line-height: 200%;
}