@font-face{
    font-family: "Liberator";
    font-style: heavy;
    src: url("Liberator-Heavy.otf");
}
.headerFont{
    font-family: "Liberator";
    letter-spacing: 1px;
}
.smText {
    font-size:20px;
}

/*In order to make this work with the bootstrap class,
 *I had to make the image just an <img> element again.
 *I also changed the album art to the "special edition"
 *art, because it looks better when used with Bootstrap's
 *img-circle class.
 
.albumCover{
    width: 300px;
    height: 300px;
    background-image: url("LeviathanSpecialEdition.jpg");
    margin-left: auto;
    margin-right: auto;
}
*/

/*Link effects*/
a{
    text-decoration: none;
}
a:hover{
    color: #DDD;
    background-color: crimson;
    text-decoration: underline;
}
