@font-face{
    font-family: "Liberator";
    font-style: heavy;
    src: url("Liberator-Heavy.otf");
}
.headerFont{
    font-family: "Liberator";
    letter-spacing: 1px;
}
.smText {
    font-size:20px;
}
.albumCover{
    width: 325px;
    height: 325px;
    background-image: url("Leviathan.jpg");
    margin-left: auto;
    margin-right: auto;
}