header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
}
/*The next two bits are for the nav bar*/
ul{
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a{
    float: left;
    display: block;
    width: 80px;
}
footer {
    text-align: center;
    line-height: 200%;
}